<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Quantilus\CourseReference\Api\CourseReferenceRepositoryInterface" type="Quantilus\CourseReference\Model\CourseReferenceRepository"/>
	<preference for="Quantilus\CourseReference\Api\Data\CourseReferenceInterface" type="Quantilus\CourseReference\Model\CourseReference"/>
	<preference for="Quantilus\CourseReference\Api\Data\CourseReferenceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Quantilus\CourseReference\Model\ResourceModel\CourseReference\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">coursereference</argument>
			<argument name="resourceModel" xsi:type="string">Quantilus\CourseReference\Model\ResourceModel\CourseReference\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="quantilus_coursereference_coursereference_listing_data_source" xsi:type="string">Quantilus\CourseReference\Model\ResourceModel\CourseReference\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
