<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework/Config/etc/system_file.xsd">
    <system>
        <tab id="frontend_restriction" translate="label" sortOrder="200">
            <label>Frontend Restriction</label>
        </tab>
        <section id="frontend_restriction" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Frontend Restriction Settings</label>
            <tab>frontend_restriction</tab>
            <resource>Quantilus_FrontendRestriction::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Allowed URLs</label>
                <field id="allowed_urls" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed URLs</label>
                    <comment>Enter full action names separated by commas (e.g., checkout_cart_index, checkout_index_index).</comment>
                    <!-- <backend_model>Magento\Config\Model\Config\Backend\Serialized</backend_model> -->
                </field>
            </group>
        </section>
    </system>
</config>
